<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your favorite movies, shows, and games</p>
{{#if movies}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Writers</th>
            <th>Producers</th>
            <th>Production Companies</th>
            <th>Actors</th>
            <th>Prominent Chars</th>
            <th>Genres</th>
            <th>Distribution</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each movies}}
        <tr>
            <td><a href="/movies/{{_id}}">{{title}}</a></td>
            <td><a href="/movies/{{_id}}">{{description}}</a></td>
            <td><span class="dash-status">{{status}}</span></td>
            <td><a href="/movies/{{_id}}">{{writers}}</a></td>
            <td><a href="/movies/{{_id}}">{{producers}}</a></td>
            <td><a href="/movies/{{_id}}">{{production_companies}}</a></td>
            <td><a href="/movies/{{_id}}">{{actors}}</a></td>
            <td><a href="/movies/{{_id}}">{{prominent_chars}}</a></td>
            <td><a href="/movies/{{_id}}">{{genres}}</a></td>
            <td><a href="/movies/{{_id}}">{{distribution}}</a></td>
            

            <td></td>
               
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any stories</p>
{{/if}}