<img class="hero" src="games.jpeg" alt="hero"  style="width: 1000px; height: 200px; object-fit: cover;">
<h1 class="center" >Games</h1>
<div class="center" style="margin: 50px;"><a href="/games/add" class="waves-effect waves-light btn-large ">Add Game</a></div>
<div class="row">
    {{#each games}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
               {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{description}}</p>
                <br>
                
            </div>
            <div class="card-action center-align">
                <a href="/games/{{_id}}" class="btn grey">Read More</a>
                
            </div>
        </div>
    </div>
    {{else}}
    <p>No games to display</p>
    {{/each}}
</div>